/docker-compose.override.yml
/.docker/.ca-certificates
/.init/
/.bash_enter.env
/.bin/jq

/.docker/*/Dockerfile
/.docker/nextcloud-web/nginx.conf

/nextcloud
/config/system.config.json
/config/onlyoffice.config.json
/config/user_saml.config.json