/docker-compose.override.yml
/.docker-compose.resolved.yml
/.docker-compose.*.resolved.yml
/.docker/.ca-certificates
/.docker-compose.env
/.docker/*/Dockerfile
/.docker/fixuid.tar.gz
/.init/
/.bash_enter.env
/.traefik/*.ssl.toml
/.certs
/.docker/nextcloud/nginx.conf
/nextcloud
/config/system.config.json
/config/onlyoffice.config.json
/config/user_saml.config.json