/docker-compose.override.yml
/.docker-compose.resolved.yml
/.docker-compose.*.resolved.yml
/.docker/.ca-certificates
/.docker-compose.env
/.docker/*/Dockerfile
/.docker/fixuid.tar.gz
/.init/
/.bash_enter.env
/.traefik/*.ssl.toml
/.certs
/cas-saml/metadata-backups
/cas-saml/idp-metadata.xml
/cas-services/nextcloud*.json
