/docker-compose.override.yml
/.docker/.ca-certificates
/.nginx-proxy/certs
/.init/
/.bash_enter.env
/.bin/jq

/.docker/*/Dockerfile

/cas-saml/metadata-backups
/cas-saml/idp-metadata.xml
/cas-services/nextcloud*.json
